<div class="card container" style="width: 20rem;">
  <div class="card-body">
  <% if flash[:success] %>
   <div class="alert alert-success">
     <span class="error"><%= flash[:success] %></span>
   </div>
  <% end %>

  <% if flash[:error] %>
   <div class="alert alert-danger">
     <span class="error"><%= flash[:error] %></span>
   </div>
  <% end %>
    <h1>New Invite</h1>

  <%= form_with url: new_invite_path, local: true, method: :post do %>
  <div>
    <%= label_tag :email, "Enter recipient email:" %>
    <%= text_field_tag :email, nil %>
  </div>

  <%= submit_tag "Send Invite", :class => "btn btn-primary mt-2" %>

  <% end %>

  <br>

  <div>
    <%= link_to "Back to My Group", current_user, :class => "btn btn-secondary mb-2" %>
  </div>
</div>
</div>