<div class="card container" style="width: 20rem;">
  <div class="card-body">

  <% if flash[:error] %>
   <div class="alert alert-danger">
     <span class="error"><%= flash[:error] %></span>
   </div>
  <% end %>
  <%= content_tag :h2, "Log In" %>
  <%= content_tag :h6, "with your CAS authentication" %>

  <%= form_with url: sessions_path do |f| %>
    <br>

    <%= f.label :email %>:<br>
    <%= f.text_field :email %><br>
    <%= f.label :password %>:<br>
    <%= f.password_field :password %><br>
    <br>
    <%= f.submit "Sign In!" %>
  <% end %>
  </div>

</div>