<style>
    body {
        background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(<%= asset_path('kyle-field-westside-view.jpg') %>);
        background-size: cover;
        background-color: rgba(255, 255, 255, 0.8);
    }
</style>

<%= content_tag :h1, current_user.welcome %>

<div class="container mt-2">
  <table class="table">
    <tr>
      <td>
        <div class="card mx-auto" style="width: 18rem; text-align: center">
          <div class="container">
            <h1><%= Game.all.length %></h1>
            <h4>upcoming games</h4>
          </div>
        </div>
      </td>
      <td>
        <div class="card mx-auto" style="width: 18rem; text-align: center">
          <div class="container">
            <h1><%= Group.all.length %></h1>
            <h4>active groups</h4>
          </div>
        </div>
      </td>
      <td>
        <div class="card mx-auto" style="width: 18rem; text-align: center">
          <div class="container">
            <h1><%= User.all.length %></h1>
            <h4>registered users</h4>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <div class="card mx-auto" style="width: 18rem;">
    <%= link_to 'Games', '/games', :class => "btn btn-secondary" %>
  </div>
  <div class="card mx-auto" style="width: 18rem;">
    <%= link_to 'Groups', '/groups', :class => "btn btn-secondary" %>
  </div>
  <div class="card mx-auto" style="width: 18rem;">
    <%= link_to 'Pull Times', '/pull_times', :class => "btn btn-secondary" %>
  </div>
  <div class="card mx-auto" style="width: 18rem;">
    <%= link_to 'Users', '/users', :class => "btn btn-secondary" %>
  </div>
</div>

</body>
</html>
