<% now = DateTime.now %>
<% end_of_year = Time.new(now.year, 12, 31, 11, 59, 59) %>

<!DOCTYPE html lang="en">
<html>
<head>
  <style>
      .float-container {
          padding: 20px;
      }

      .float-child {
          width: 50%;
          float: left;
          padding: 20px;
      }
  </style>
</head>
<body>

<% group_names = ['Freshmen', 'Sophomores', 'Juniors', 'Seniors & Graduate Students', 'All classes & walk-up (if available)'] %>
<%# Main Layout %>
<main>
  <h1 class='text-center'>List Eaters</h1>
  <h6 class='text-center'>We eat the lists so you don't have to.</h6>
  <%# Background Image %>

  <div class="float-container">
    <%# Ticket Pull Times %>
    <div class="float-child">
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped" style="background-color: #ffffff">
          <thead class="thead-light">
          <tr>
            <th colspan="5" style="text-align: center;">Ticket Pull Times</th>
          </tr>
          <tr>
            <th scope="col">Group</th>
            <th scope="col">Time</th>
            <th scope="col">Day</th>
          </tr>
          </thead>
          <tbody>
          <% PullTime.order(:weekday).each do |pt| %>
            <tr>
              <td><%= group_names[pt[:id] - 1] %></td>
              <td><%= pt[:start_time].strftime('%l %p') %> - <%= pt[:end_time].strftime('%l %p') %></td>
              <td><%= Date::DAYNAMES[pt[:weekday]] %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <div>
        </div>
        <%# Football Games Table %>
      </div>
    </div>
    <%# Ticket Pull Times %>

    <%# Football Games Table %>
    <div class="float-child">
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped" style="background-color: #ffffff">
          <thead class="thead-light">
          <tr>
            <th colspan="5" style="text-align: center;"><%= now.year %> Season</th>
          </tr>
          <tr>
            <th scope="col">Opponent</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
          </tr>
          </thead>
          <tbody>
          <% Game.where(gamedate: now..end_of_year).order(:gamedate).each do |game| %>
            <tr>
              <td><%= game.opponent %></td>
              <td><%= game.gamedate.strftime('%A, %B %e') %></td>
              <td><%= game.gamedate.hour == 0 ? 'TBD' : game.gamedate.strftime('%l:%M %p') %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <div>
        </div>
        <%# Football Games Table %>
      </div>
    </div>
    <%# Background Image %>
  </div>
</main>
<%# Main Layout %>
</body>
</html>