<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :groupname, style: "display: block" %>
    <%= form.text_field :groupname %>
  </div>

  <div>
    <%= form.label :member, style: "display: block" %>
    <%= form.text_field :member %>
  </div>

  <div>
    <%= form.label :pulled, style: "display: block" %>
    <%= form.text_field :pulled %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
