<% if flash[:notice] %>
  <div class="alert alert-success">
    <span class="result"><%= flash[:notice] %></span>
  </div>
<% elsif flash[:alert] %>
  <div class="alert alert-danger">
    <span class="result"><%= flash[:alert] %></span>
  </div>
<% end %>

<div class="card container mt-2 mb-2 border-5" id="season2021" style="background-color: #744F28;">

  <h1 class="mt-2 ml-2" style="color: #ffffff">My Groups</h1>

  <div id="groups" class="mx-auto">
    <% @groups.order(:id).each do |group| %>
      <div class="card container mb-2" style="background-color: #500000;">
        <div class="row">
          <div class="col-md-9 my-auto" style="color: white">
            <h4 class="mx-auto mb-0"> <%= group.groupname %> </h4>
          </div>
          <div class="col-md-3 container"> <%= link_to "View", group, :class => "btn btn-secondary mt-1 mb-1" %> </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div>
  <%= link_to 'Back to Dashboard', '/dashboard', :class => "btn btn-secondary float-left" %> 
  <%= link_to "New group", new_group_path, :class => "btn float-left", :style => "background-color: #5B6236; color: #ffffff" %>
  <%= button_to "Clear All Groups", clear_all_groups_groups_path(groups: @groups), :class => "btn btn-danger float-right" %>
</div>