<style>
    body {
        background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(<%= asset_path('kyle-field-westside-view.jpg') %>);
        background-size: cover;
        background-color: rgba(255, 255, 255, 0.8);
    }
</style>

<% if flash[:result] %>
  <div class="alert alert-primary">
    <span class="result"><%= flash[:result] %></span>
  </div>
<% end %>
<%= form_with url: pull_tickets_path, local: true, method: :post do %>
   
  <%= hidden_field_tag :uins, @group_uins.join(",") %>
  <%= hidden_field_tag :group_id, @group_id %>

  <%= submit_tag "Pull Tickets" %>
<% end %>

<% @group_uins.each do |item| %>
  <%= item %>
  <br>
<% end %>
