<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
     <%= form.label :group_id %><br>
     <%= form.text_field :group_id %>
   </div>

  <div>
    <%= form.label :uin, 'UIN', style: "display: block" %>
    <%= form.number_field :uin %>
  </div>

  <div class="row mt-1">
    <%= form.label :admin, class: 'ml-3 mr-1', style: "display: block" %>
    <%= form.check_box(:admin, { class: 'ml-1 mt-1' }) %>
  </div>
  <br>
  <div>
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
