<style>
    body {
        background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(<%= asset_path('kyle-field-westside-view.jpg') %>);
        background-size: cover;
        background-color: rgba(255, 255, 255, 0.8);
    }
</style>

<div class="card container" style="background-color: #500000; color: #ffffff">
  <% if flash[:error] %>
   <div class="alert alert-danger">
     <span class="error"><%= flash[:error] %></span>
   </div>
<% end %>
  
  <h1>Join Group</h1>

  <%= form_with url: add_to_group_path, local: true, method: :post do %>
  <div>
   <%= label_tag "code" %>
   <%= text_field_tag "code", nil %>
 </div>

 <%= submit_tag "Join Group" %>

  <% end %>


  <div>
    <%= link_to "Cancel", @user, :class => "btn btn-secondary mb-2" %>
  </div>
</div>