<style>
    body {
        background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(<%= asset_path('kyle-field-westside-view.jpg') %>);
        background-size: cover;
        background-color: rgba(255, 255, 255, 0.8);
    }
</style>

<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :opponent, style: "display: block" %>
    <%= form.text_field :opponent %>
  </div>

  <div>
    <%= form.label :gamedate, 'Start Time', style: "display: block" %>
    <%= form.text_field :gamedate %>
  </div>
  <br>
  <div>
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
