<div id="<%= dom_id game %>">
  <p>
    <strong>Hometeam:</strong>
    <%= game.hometeam %>
  </p>

  <p>
    <strong>Opponent:</strong>
    <%= game.opponent %>
  </p>

  <p>
    <strong>Gamedate:</strong>
    <%= game.gamedate %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= game.day %>
  </p>

</div>
