<p style="color: green"><%= notice %></p>
<div class="card container mt-2 mb-2 border-5" id="season2021" style="background-color: #744F28;">

  <h1 class="mt-2 ml-2" style="color: #ffffff">Games</h1>

  <div id="games" class="mx-auto">
    <% @games.order(:gamedate).each do |game| %>
      <div class="card container mb-2" style="background-color: #500000;">
        <div class="row">
          <div class="col-md-9 my-auto" style="color: white">
            <h4 class="mx-auto mb-0"><%= game.opponent %>
              – <%= game.gamedate.strftime("%b %e, %Y") %> </h4></div>
          <div class="col-md-3 container"> <%= link_to "View Details", game, :class => "btn btn-secondary mt-1 mb-1" %> </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to "New game", new_game_path, :class => "btn", :style => "background-color: #5B6236; color: #ffffff" %>
<%= link_to 'Back to Dashboard', '/dashboard', :class => "btn btn-secondary" %>
