<style>
    body {
        background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(<%= asset_path('kyle-field-westside-view.jpg') %>);
        background-size: cover;
        background-color: rgba(255, 255, 255, 0.8);
    }
</style>

<p style="color: green"><%= notice %></p>

<div class="card container" style="background-color: #500000; color: #ffffff">
  <%= render @game %>

  <div>
    <div class="row">
      <%= link_to "Edit this Game", edit_game_path(@game), :class => "btn btn-primary ml-2 mr-2" %>
      <%= button_to "Delete this Game", @game, :class => "btn btn-danger", method: :delete %>
    </div>

    <div>
      <%= link_to "Back to Games", games_path, :class => "btn btn-secondary mt-2 mx-auto mb-2" %>
    </div>
  </div>
</div>
